[submodule "project/Adafruit_ADS1X15"]
	path = project/Adafruit_ADS1X15
	url = https://github.com/adafruit/Adafruit_ADS1X15.git
[submodule "project/WiringPi"]
	path = project/WiringPi
	url = https://github.com/WiringPi/WiringPi.git
